<html>
  <head>
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <th>Date</th><th>Topics</th><th>Reading/Resources</th><th>Reminders</th>
      </tr>
      {% for row in table %}
      {% if "internal_header" in row %}
      <tr><td colspan="4">{{row["internal_header"]}}</td></tr>
      {% else %}
      <tr>
        <td>{{row["date"]}}</td>
        <td>{{(row["topic"]|markdown).replace("<p>","").replace("</p>","")}}</td>
        <td>
          {% for item in row["materials"][:-1] %}
          {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
          {% endfor %}
          {{(row["materials"][-1]|markdown).replace("<p>","").replace("</p>","")}}
        </td>
        <td>
          {% for item in row["reminders"][:-1] %}
          {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
          {% endfor %}
          {{(row["reminders"][-1]|markdown).replace("<p>","").replace("</p>","")}}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </body>
</html>
